* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Custom CSS Variables*/
:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;
    --white-color: white; 
    --black-color: black;
    --darkprince-color: #6b6b87; /* Dark Prince */
    --semilight-black: #333; /* Semi-light black */
    --starbucks-green: #00704a; /* Starbucks Green */
    --palmleaf-green: #32462f; /* Palm Leaf Green */
    --crystalpalace: #d1d1aa; /* Crystal Palace */
    --estragon: #a5af73; /* Estragon */
    --crystalpalace-estragon: linear-gradient(to right, var(--crystalpalace), var(--estragon)); /* Gradient background */
}

body {
    font-family: var(--secondary-font);
    font-size: 16px;
    line-height: 1.5;
    background: var(--white-color);
    overflow-x: hidden;
    padding-top: 120px;
}

a {
    text-decoration: none;
    color: var(--black-color);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navigation Bar */
.navbar {
    width: 100%;
    background: var(--white-color);
    padding: 20px 40px 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure navbar is above other content */
    border-bottom: 1px solid #ccc; /* Light gray border line */
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .nav-menu {
    display: flex;
    align-items: center;
    gap: 40px; /* Space between logo and menu */
}
.navbar .nav-menu img {
    max-width: 64px; /* Adjust logo size */
    max-height: 64px; /* Adjust logo size */
}
.navbar .menu-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none; /* Remove default list style */
}
.navbar .nav-links  ul {
    display: flex;
    gap: 30px; /* Space between menu items */
}

.navbar .nav-menu .nav-links li a {
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    transition: 0.5s;
    padding: 0px 20px;
}

.navbar .nav-menu .nav-links li a:hover {
    color: var(--starbucks-green);
}

.navbar .menu-buttons li .find-loc{
    padding: 20px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    display: block;
    transition: 0.5s;;
}
.navbar .menu-buttons li a i {
    margin-right: 10px;
}
.navbar .menu-buttons li:nth-child(1) a:hover {
    color: var(--starbucks-green);
}

/* Hamburger Menu */
.hamburger-button {
    display: none; /* Hide hamburger button by default */
    cursor: pointer;
    border: none;
    background: none;
    position: relative;
    padding: 10px;
    margin-right: 10px; /* Adjust margin for hamburger button */
    z-index: 1001; /* Ensure hamburger button is above other content */
    transition: all 0.25s; /* Smooth transition for hover effect */
}
.hamburger-line-top,
.hamburger-line-middle,
.hamburger-line-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 4px;
    background: var(--starbucks-green);
    border-radius: 5px;
    transform: rotate(0);
    transition: all 0.3s; /* Smooth transition for hamburger lines */
}
/* Repositioning the hamburger lines allow the hamburger button to be shown. */
.hamburger-line-middle {
    transform: translateY(7px); /* Position the middle line on the Y-axis downwards 7 pixels */
}

.hamburger-line-bottom {
    transform: translateY(14px); /* Position the bottom line on the Y-axis downwards 14 pixels */
}

.hamburger-button.open .hamburger-line-top,
.hamburger-button.open .hamburger-line-bottom {
    background: var(--semilight-black); /* Change color of hamburger lines when open */
}

/* Rotate the hamburger lines when the button is clicked */
.hamburger-button.open .hamburger-line-top {
    transform: rotate(45deg) translateY(6px) translateX(6px); /* Rotate the top line to form an X */
} 
.hamburger-button.open .hamburger-line-middle {
    display: none; /* Hide the middle line when the button is open */
}
.hamburger-button.open .hamburger-line-bottom {
    transform: rotate(-225deg) translateY(-6px) translateX(6px); /* Rotate the bottom line to form an X */
}

/* Mobile Menu Styles Section */
.mobile-menu {
    position: fixed;
    top: 120px; /* Position below the navbar */
    right: 0px;
    width: 80%;
    color: var(--black-color);
    height: 100%;
    background-color: var(--white-color);
    padding: 30px;
    box-shadow: inset 0 4px 3px  -3px rgb(0 0 0 / 10%), /* Inner shadow effect */
    inset 0 -4px 3px -3px rgb(0 0 0 / 10%); /* Inner shadow effect */ 
    transition: all 0.3s; /* Smooth transition for showing/hiding the menu */
    z-index: 1002; /* Ensure mobile menu is above other content */
}

.hidden {
    transform: translateX(100%); /* Hide the mobile menu off-screen */
}
.no-scroll {
    overflow: hidden; /* Prevent scrolling when the mobile menu is open */
}

.mobile-menu ul {
    line-height: 3;
    font-weight: 700;
    border-bottom: #777 solid 1px; /* Light gray border line */
    padding-bottom: 20px;
    margin-bottom: 30px; /* Space between menu items and bottom section */
}

.mobile-menu a {
    text-decoration: none;
    font-size: 20px;
}
.mobile-menu a:hover {
    color: var(--starbucks-green);
    transition: 0.5s ease-in; /* Smooth hover effect */
}
.mobile-menu .mobile-menu-bottom {
    font-weight: 700;
    display: grid;
    grid-template-columns: 140px;
    gap: 25px;
}  
.mobile-menu i {
    margin-right: 10px;
}

.mobile-menu .btn {
    font-size: 20px;
}

/* Box One Section */  
.box {
    margin-top: 20px;
    padding-bottom: 30px;
}

/* Utility Classes */
/* Grid Styles Classes */
.grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* Space between columns image and text */ 
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between columns */
    box-shadow: rgba(17, 17, 46, 0.15) 0px 48px 100px 0px; /* Shadow effect */
}
/* Reverse grid order of the Image and Text box */
.grid-reverse :first-child {
    order: 2;
    /* Reverse the order of the first child */
}
/* Important Information Section */
.important-information {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc; /* Light gray border line */
}
.important-information p:first-child {
    padding: 2% 20% 0px;
    font-weight: 500;
}
.important-information p:last-child {
    padding: 5% 20% 0px;
    font-weight: 500;
}
.important-information p:last-child a {
    text-decoration: underline;
}

/* Footer Styles Section */
.footer {
    padding: 10px 30px;
    border-bottom: 1px solid #ccc;/* Light gray border line */
}
.footer .footer-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Space between columns */
}
.footer ul i {
    display: none; /* Hide the plus/minus icon by default */
}
.footer ul li {
    padding: 20px 0px;
}
.footer ul li .link {
    color: var(--darkprince-color);
}

.footer ul li .link:hover {
    color: var(--black-color);
    transition: 0.5s ease-in; /* Smooth hover effect */
}
.footer .link-container  li {
    padding: 10px 0px;
}
.footer ul li .other-link {
    color: var(--black-color);
}

.footer ul li .other-link:hover {
    text-decoration: underline;
}

.footer .icon-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px; /* Space between icons */
    padding-top: 20px
}
.footer .icon-container img {
    width: 30px; /* Adjust icon size */
    height: 30px; /* Adjust icon size */
    transition: transform 0.3s ease; /* Smooth hover effect
    using transform to up scale the icon image*/
} 

.footer .icon-container img:hover {
    transform: scale(1.5); /* Scale up img when hovering using the transform property */
}

/* Button Styles Classes */
.btn {
    border-radius: 50px;
    font-size: 1.1rem;
    font-weight: 700;
    background: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2;
    padding: 7px 13px;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--black-color);
}

.btn-dark-outline {
    border-color: var(--black-color);
    color: var(--black-color);
}
.btn-light-outline {
    border-color: var(--white-color);
    color: var(--white-color);
}
.btn-dark { 
    color: var(--white-color);
    background: var(--black-color);
}

.btn-palmleaf-outline {
    border-color: var(--palmleaf-green);
    color: var(--palmleaf-green);
}
/* Button Hover Effects */
.btn-dark-outline:hover , .btn-palmleaf-outline:hover, .btn-light-outline:hover{
    background-color: rgba(0,0,0,0.2);
}
.btn-dark:hover {
    background-color: var(--semilight-black);
}
/* Text Styles Classes */
.text-center {
    text-align: center;
    padding: 0px 13%;
}
.text-xl {
    font-size: 50px;
    font-weight: 700;
    
}
.text-lg {
    font-size: 28px;
    font-weight: 700;
    
}

span {
    font-weight: 800;
}

.text-md {
    font-size: 24px;
    padding: 40px 0px;
    font-weight: 400;
}
.text-xmd{
    font-size: 20px;
    font-weight: 500;
}

.text-sm {
    font-size: 14px;
    font-weight: 500;
}

/* Background Color Classes */
.bg-palmleaf-green {
    background: var(--palmleaf-green);
    color: var(--white-color);
}

.bg-starbucks-green {
    background: var(--starbucks-green);
    color: var(--white-color);
}
.bg-crystalpalace {
    background: var(--crystalpalace);
    color: var(--palmleaf-green);
}


/* Trademark Styles Classes */
.REGISTERED-TRADEMARK::after /* Adds a registered trademark symbol */ {
    content: "\00AE"; /* Unicode for ® */
    font-size: 0.8em;
    vertical-align: super; /* Aligns the trademark symbol to the top */
}

.COPYRIGHT-TRADEMARK::after /* Adds a copyright symbol */ {
    content: "\00A9"; /* Unicode for © */;
} 
/* Media Queries */
@media (min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    .mobile-menu {
        display: none; /* Hide mobile menu on larger screens */
    }
}



@media (max-width: 1130px) {
    .text-xl {
        font-size: 35px;
        font-weight: 700;   
    }
    .text-md {
        font-size: 18px;
        padding: 40px 0px;
        font-weight: 400;
    }
    .text-lg {
        font-size: 24px;
        font-weight: 700;
    }
    .box .box-container.box-b .text-box .text-box-body.text-md {
        padding: 20px 0px;
    }
    .important-information p:first-child {
        padding: 2% 10% 0px;
        font-weight: 500;
    }
    
    .important-information p:last-child {
        padding: 5% 10% 0px;
        font-weight: 500;
    } 
    
    .footer .footer-links {
        grid-template-columns: 1fr;
    }

    .footer ul {
        position: relative; /* Position relative for the footer links */
    }

    .footer ul i {
        display: block; /* show the plus/minus icon */
        position: absolute; /* Position absolute for the icon */
        right: 0; /* Align to the right */
        top: 30px; /* Align to the top */
        font-size: 1.3rem;
        cursor: pointer;
    }
    .footer .link-group {
        display: none; /* Hide the links by default */
    }
    .footer .link-group.open {
        display: block; /* Show the links when the group is open */
    }
    .navbar .nav-links, .navbar .menu-buttons {
        display: none; /* Hide the navigation menu and buttons on smaller screens */
    }
    .box {
        margin-top: 0px; /* Remove margin-top for Boxes Section on smaller screens */
        padding-bottom: 0px; /* Remove padding bottom for Boxes Section on smaller screens */ 
    }

    .hamburger-button {
        display: block; /* Show hamburger button on smaller screens */
    }

}

@media (max-width: 960px) {
    .grid-col-2 {
        grid-template-columns: 1fr; /* Single column layout */
    }
    .box-container.box-b {
        background: var(--crystalpalace-estragon); /* Gradient background for Box B */
    }
    .text-xl {
        font-size: 24px;
        font-weight: 700;
    }
    .text-md {
        font-size: 16px;
        padding: 20px 0px;
        font-weight: 400;
    }
    .btn {
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    .important-information p:first-child {
        padding: 2% 2% 0px;
        font-weight: 500;
    }
    
    .important-information p:last-child {
        padding: 5% 2% 0px;
        font-weight: 500;
    }   
   
}